{% extends 'base.html.twig' %}

{% block title %}Page de connexion
{% endblock %}

{% block body %}
	<div class="video-bg">
		<video width="320" height="240" autoplay loop muted>
			<source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<div class="dark-light">
		<svg viewbox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/></svg>
	</div>

	{# ----header desktop--- #}
	<div class="app">
		{% include "partials/header1.html.twig" %}
		{# ----navbar left--- #}
		<div class="wrapper">
			<div class="left-side">
				<div class="side-wrapper">
					{% include "partials/navleft.html.twig" %}
				</div>
			</div>

			{# -----header mobile ---------- #}
			<div class="main-container">
				{% include "partials/headermobile.html.twig" %}

				<div
					class="content-wrapper">


					{# formulaire inscription  #}
					<div class="container w-75 ">

						<form method="post" class="w-100">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3">
									Vous êtes connecté en tant que
									{{ app.user.userIdentifier }},
									<a href="{{ path('app_logout') }}">Déconnection</a>
								</div>
							{% endif %}
							<section class="content-wrapper-header">
								<h1 class="text-center">Connexion
								</section>
							</h1>
							<label class=" text-white p-2" for="inputEmail">Votre adresse email
							</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="merci de saisir votre adresse email" class="form-control" autocomplete="email" required autofocus>
							<label for="inputPassword" class="text-white p-2">Password</label>
							<input type="password" name="password" id="inputPassword" placeholder="merci de saisir votre mot de passe " class="form-control" autocomplete="current-password" required>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							<div class="container-fluid w-100">


								<div><input type="checkbox" name="_remember_me">
									Se rapeller de moi
									<a style="margin-left:40px" class="" href="{{ path('app_forgot_password_request') }}">
										Mot de passe oublié
									</a>
								</div>
							</div>


							<button class="btn btn-lg btn-success btn-block my-2" type="submit">
								Se connecter
							</button>
						</form>
					</div>
					{# fin du foàrmulaire  #}


					<div class="overlay-app"></div>
				</div>
			</div>
		{% endblock %}
