{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	{# ----header desktop--- #}
	<div class="app">
		{% include "partials/header1.html.twig" %}
		<div class="wrapper">
			<div class="left-side">
			{# ----navbar left--- #}
				<div class="side-wrapper">
					{% include "partials/navleft.html.twig" %}
				</div>
			</div>
	{# -----header mobile---------- #}
			<div class="main-container">
				{% include "partials/headermobile.html.twig" %}

				<div class="container w-50 ">

					<form method="post" class="w-100">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								Vous êtes connecté en tant que
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Déconnection</a>
							</div>
						{% endif %}

						<h1 class="h3 mb-3 font-weight-normal my-5 p-3">Merci de vous connecter
						</h1>
						<label class=" text-white p-2" for="inputEmail">Votre adresse email
						</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="merci de saisir votre adresse email" class="form-control" autocomplete="email" required autofocus>
						<label for="inputPassword" class="text-white p-2">Password</label>
						<input type="password" name="password" id="inputPassword" placeholder="merci de saisir votre mot de passe " class="form-control" autocomplete="current-password" required>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


						<div class="checkbox mb-3">
							<label>
								<input type="checkbox" name="_remember_me">
								Se souvenir de moi
							</label>
						</div>


						<button class="btn btn-lg btn-success btn-block" type="submit">
							Se connecter
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
