{% extends 'base.html.twig' %}

{% block title %}Page inscription des utilisateurs
{% endblock %}

{% block body %}
	<br><br>
			{# ----header desktop--- #}
	<div class="app">
		{% include "partials/header1.html.twig" %}
		<div class="wrapper">
			<div class="left-side">

			{# ----navbar left--- #}
				<div class="side-wrapper">
					{% include "partials/navleft.html.twig" %}
				</div>
			</div>

			{# -----header mobile---------- #}
			<div class="main-container">
				{% include "partials/headermobile.html.twig" %}

				{# ----formulaire --- #}
				<div class="container my-5 w-25 bg-dark border  text-center text-white ">
					<h1 class="container my-5 ">Inscrivez-vous !
					</h1>
					{{ form_start(registrationForm) }}

					{{ form_row(registrationForm.firstname,  {'attr':{'class':'form form-control'}}) }}
					{{ form_row(registrationForm.lastname,  {'attr':{'class':'form form-control'}}) }}
					{{ form_row(registrationForm.email,  {'attr':{'class':'form form-control'}}) }}
					{{ form_row(registrationForm.adresse,  {'attr':{'class':'form form-control'}}) }}
					{{ form_row(registrationForm.age,  {'attr':{'class':'form form-control'}}) }}
					{{ form_row(registrationForm.plainPassword,   {'attr':{'class':'form form-control'}})
													        }}

					<button type="submit" class="btn btn-success btn-block p-2 my-5">S'inscrire</button>
					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</div>
	{#  #}
{% endblock %}
