{% set user = ["Profile","Essaouari","admin",true] %}


    		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-5">

				<a class="navbar-brand animate__flash animate__animated animate__delay-5s" href="{{path('home_page')}}">
                    Transpoteur
                </a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav mr-auto">

						<li class="nav-item">
							<a class="nav-link animate__flash animate__animated animate__delay-5s" href="{{path('home_page')}}">
                                <i class="fa fa-home"></i>
                                Accueil
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link animate__flash animate__animated animate__delay-5s" href="{{path('app_register')}}">
                                <i class="fa fa-newspaper"></i>
                                Inscription
							</a>
						</li>
						<li class="nav-item">
								<a class="nav-link animate__flash animate__animated animate__delay-5s" href="{{path('app_order_index')}}"><i class="fa fa-pen"></i>Réservation</a>
						</li>

                    </ul>
                    <ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">


							{% if is_granted('ROLE_ADMIN') %}
							{# --------------admin menu--------------------- #}
							<a class="nav-link dropdown-toggle animate__shakeY animate__animated animate__delay-5s" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i>
                               {{ app.user.lastname }}
                            </a>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#">Dashboard Admin</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
							</div>

				{# -----------------------------menu user--------------------------------------------- #}
							{% elseif is_granted('ROLE_USER') %}
							<a class="nav-link dropdown-toggle animate__shakeY animate__animated animate__delay-5s" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i>
                                {{ app.user.lastname }}
                            </a>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#">Mon Profil</a>
								<a class="dropdown-item" href="#"><i class="fa fa-pen"></i>Commander une course</a>
								<a class="dropdown-item" href="{{path('app_user_index')}}">Dashboard</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
							</div>
							{% else %}

							<a href="{{path('app_register')}}" class="text-white pr-3 animate__shakeY animate__animated animate__delay-5s">
                                <i class="fas fa-angle-right"></i>
                                Inscription
                            </a>
							<a href="{{path('app_login')}}" class="text-white animate__shakeY animate__animated animate__delay-5s">
                                <i class="fas fa-angle-right"></i>
                                Connexion
                            </a>

							{% endif %}

						</li>
					</ul>
				</div>
			</nav>
		</header>
		{# {% for label, messages in app.flashes %} #}
	{# <div class="container my-5">
		{% for message in messages %}
			<div class="alert alert-{{ label }}">
				{{ message | raw }}
			</div>
		{% endfor %}
	</div> #}
{# {% endfor %} #}





	{# <pre>
		{{ dump(user) }}
	</pre> #}