{# -----header desktop----- #}
<header class="header">
	{# <div class="menu-circle"></div> #}
	<a href="{{path('home_page')}}">
	<img class="desk " src="{{asset('assets/images/logo.png')}}" alt="logo izy drive"></a>
	<a class="menuSelector mob text-white">
		<i class="fas fa-bars"></i>
		<i class="fas fa-times"></i>
	</a>
	<a class="mob ml-auto" href="{{path('home_page')}}"><img src="{{asset('assets/images/logo.png')}}" alt="logo izy drive"></a>
	<div class="header-menu">
		<a class="menu-link is-active desk" href="{{path('home_page')}}">Accueil</a>
		<a class="menu-link notify desk" href="{{path('app_order_new')}}">Commander une course</a>
		{% if is_granted('ROLE_ADMIN') %}
			<a class="menu-link notify desk" href="{{path('show_user')}}">Mon profil</a>
			<a class="menu-link desk" href="{{path('app_contact')}}">Contact</a>
			<a class="menu-link desk" href="{{path('admin')}}">Dashboard</a>
		{% elseif is_granted('ROLE_USER') %}
			<a class="menu-link notify desk" href="{{path('show_order')}}">Mes commandes</a>
			<a class="menu-link notify desk" href="{{path('show_user')}}">Mon profil</a>
			<a class="menu-link desk" href="{{path('app_contact')}}">Contact</a>

		{% else %}
			<a class="menu-link notify desk" href="{{path('show_user')}}">Connexion</a>
			<a class="menu-link notify desk" href="{{path('app_register')}}">Inscription</a>
			<a class="menu-link desk" href="{{path('app_contact')}}">Contact</a>
		{% endif %}
	</div>

	<div class="header-profile">
	{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER')  %}
		<a href="{{path('app_logout')}}" class="text-white pr-3 deco hvr-grow" title="Déconnexion">
			<i class="fas fa-sign-out-alt animate__backInDown animate__animated"></i>
		</a>
		
		<div class="notification animate__backInDown animate__animated">
					<span class="notification-number">3</span>
					<svg viewbox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
						<path d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9M13.73 21a2 2 0 01-3.46 0"/>
					</svg>
				</div>
		<a href="{{path('show_user')}}">
		<img class="profile-img  animate__backInDown animate__animated" src="{{app.user.image}}" alt="image profile">
		</a>
	{% endif %}
	{# ----icon meteo nuage----- #}
		{# <svg class=" animate__backInDown animate__animated" viewbox="0 0 512 512" fill="currentColor">
			<path d="M448.773 235.551A135.893 135.893 0 00451 211c0-74.443-60.557-135-135-135-47.52 0-91.567 25.313-115.766 65.537-32.666-10.59-66.182-6.049-93.794 12.979-27.612 19.013-44.092 49.116-45.425 82.031C24.716 253.788 0 290.497 0 331c0 7.031 1.703 13.887 3.006 20.537l.015.015C12.719 400.492 56.034 436 106 436h300c57.891 0 106-47.109 106-105 0-40.942-25.053-77.798-63.227-95.449z"/>
		</svg>  #}
		
		{# méteo  #}	
		 
		 {# <p class="text-white bold my-1 "> {{ville}} | {{temperature}}°C</p> #}
		

	</div>
</header>
