<nav class="navbar navbar-expand-lg navbar-light fixed-top">
	<div class="container">
	<a class="navbar-brand  text-white" href="#">Izy Drive</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">

						<li class="nav-item">
							<a class="nav-link text-white" href="{{path('home_page')}}">
                                <i class="fa fa-home"></i>
                                Accueil
							</a>
						</li>
							<li class="nav-item">
							<a class="nav-link text-white" href="{{path('app_contact')}}">
                                <i class="fa fa-envelope"></i>
                                Contact
							</a>
						</li>

						<li class="nav-item">
								<a class="nav-link text-white" href="{{path('app_order_new')}}"><i class="fa fa-car"></i> Commander une course</a>
						</li>

                    </ul>
                    <ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">


							{% if is_granted('ROLE_ADMIN') %}
							{# --------------admin menu--------------------- #}
							<a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i>
                               {{ app.user.lastname }}
                            </a>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item text-white" href="{{path('admin')}}">Dashboard Admin</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item text-white" href="{{path('app_logout')}}">Déconnexion</a>
							</div>

				{# -----------------------------menu user--------------------------------------------- #}
							{% elseif is_granted('ROLE_USER') %}
							<a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i>
                                {{ app.user.lastname }}
                            </a>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item text-white" href="{{path('app_order_new')}}"><i class="fa fa-car"></i> Commander une course</a>
								<a class="dropdown-item text-white" href="{{path('show_user')}}">Mon profile</a>
								<a class="dropdown-item text-white" href="{{path('show_order')}}">Mes commandes</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item text-white" href="{{path('app_logout')}}">Déconnexion</a>
							</div>
							{% else %}

							<a href="{{path('app_register')}}" class="text-white pr-3 text-white">
                                <i class="fas fa-angle-right"></i>
                                Inscription
                            </a>
							<a href="{{path('app_login')}}" class="text-white text-white">
                                <i class="fas fa-angle-right"></i>
                                Connexion
                            </a>

							{% endif %}

						</li>
					</ul>
	</div>

	</div>
</nav>
