	 <div class="side-wrapper">
					<div class="side-wrapper">
						<div class="side-title">Présentation</div>
						<div class="side-menu">
							<a href="{{ path('monhistoire') }}">
								Mon histoire 
							</a>
							<a href="{{ path('vehicules') }}">
								Mes véhicules
							</a>
							<a href="{{ path('avis') }}">
								Vos avis
							</a>

						</div>
					</div>
					<div class="side-title">Services</div>
					<div class="side-menu">
						<a href="{{ path('disposition') }}">


							Mise à disposition
						</a>
						<a href="{{ path('visite') }}">

							Visite des chateaux
						</a>
						<a href="{{ path('personne') }}">+8 personnes</a>
						<a href="{{ path('aeroport_gare') }}">Aéroports & Gares</a>
					</div>
				</div> 
				<div class="side-wrapper">
					<div class="side-title">Légal</div>
					<div class="side-menu">
					<a href="{{ path('mentionslegales') }}">
							Mentions légals
						</a>
						<a href="{{ path('conditionsgenerales') }}">Conditions générales</a>
						<a href="{{ path('apropos') }}">
								A propos 
							</a>
						
					</div>
				</div>
		