{% extends 'base.html.twig' %}

{% block title %}Page de contact
{% endblock %}

{% block body %}
	<div class="video-bg">
		<video width="320" height="240" autoplay loop muted>
			<source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<div class="dark-light">
		<svg viewbox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/></svg>
	</div>

	{# ----header desktop--- #}
	<div class="app">
		{% include "partials/header1.html.twig" %}
		{# ----navbar left--- #}
		<div class="wrapper">
			<div class="left-side">
				<div class="side-wrapper">
					{% include "partials/navleft.html.twig" %}
				</div>
			</div>

			{# -----header mobile ---------- #}
			<main class="main-container">
				{% include "partials/headermobile.html.twig" %}

				<div class="content-wrapper">
					<section class="content-wrapper-header justify-content-center">
						<h1>Formulaire de contact
						</h1>
					</section>
					<div class="row form-group mt-2">
						<div class="col-md-6 mb-3 mb-md-0">
							{{ form_start(form)}}
							{{form_row(form.firstName, {'attr':{ 'class': 'form-control'}})}}
						</div>
						<div class="col-md-6">
							{{form_row(form.lastName, {'attr':{ 'class': 'form-control'}})}}

						</div>
					</div>

					<div class="row form-group">

						<div class="col-md-12">
							{{form_row(form.email, {'attr':{ 'class': 'form-control'}})}}
						</div>
					</div>
					<div class="row form-group">

						<div class="col-md-12">
							{{form_row(form.message, {'attr':{ 'class': 'form-control'}})}}
						</div>
					</div>

					<div class="row form-group">

						<div class="col-md-12">
							<input type="submit" class="btn btn-primary btn-block" value="Envoyer">

						</div>

							{{ form_end(form)}}
					</div>
					<div
						class="p-4 mb-3  my-5">
						{# on affiche les données de contact crée dans le service yam  #}
						<div class="border  text-center text-white">
							<p class="mb-0 font-weight-bold">Addresse</p>
							<p class="mb-4">{{ contact_adress }}</p>

							<p class="mb-0 font-weight-bold">Phone</p>
							<p class="mb-4">
								<a href="#">{{ contact_phone }}</a>
							</p>

							<p class="mb-0 font-weight-bold">Addresse email</p>
							<p class="mb-0">
								<a href="#">{{ contact_email }}</a>
							</p>

						</div>

					</div>
				</div>

			</main>

			{# contactet par mail ou téléphone  #}

			<div class="overlay-app"></div>
		</div>

	{% endblock %}
