<div class="container">
{{ form_start(form) }}

    <label class="text-center text-white mt-5">Adresse de départ</label>
    {{ form_widget(form.depart,   {'attr':{'class':'form form-control'}}) }}
    {{ form_row(form.destination,   {'attr':{'class':'form form-control'}}) }}
    {{ form_row(form.date_reservation, ) }}
  
    <button class="btn btn-success btn-block p-3 my-1 bold">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
</div>
