{% extends 'base.html.twig' %}

{% block title %}Les réservations | example {% endblock %}

{% block body %}
    <h1>Order index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiants </th>
                <th>Depart</th>
                <th>Destination</th>
                <th>Date de réservation</th>
                <th>Date de creation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in app.user.orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.depart }}</td>
                <td>{{ order.destination }}</td>
                <td>{{ order.dateReservation ? order.dateReservation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.dateCreation ? order.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_order_show', {'id': order.id}) }}">Voir plus de details</a>
                    <a href="{{ path('app_order_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_order_new') }}">Commander une course</a>
{% endblock %}
