{% extends 'base.html.twig' %}

{% block title %}Mon profile
{% endblock %}

{% block body %}

	<div class="video-bg">
		<video width="320" height="240" autoplay loop muted>
			<source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
			Votre navigateur ne supporte pas les backgrounds SCSS
		</video>
	</div>
	<div class="dark-light">
		<svg viewbox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/></svg>
	</div>
	<div class="app">
		{% include "partials/header1.html.twig" %}
		<div class="wrapper">
			<div class="left-side">
				<div class="side-wrapper">
				{% include "partials/navleft.html.twig" %}
			</div>
			</div>
			<main class="main-container">
			{% include "partials/headermobile.html.twig" %}
				<div class="content-wrapper">
					<div class="content-wrapper-header">
						<div class="content-wrapper-context">
							
								<div>
									<p class="content-text">Email :
										{{ app.user.email }}</p>
									<p class="content-text">Prénom :
										{{ app.user.firstname }}</p>
									<p class="content-text">Nom :
										{{ app.user.lastname }}</p>
								</div>
								<div>
									<p class="content-text">Adresse :
										{{ app.user.adresse }}</p>
									<p class="content-text">Age :
										{{ app.user.age }}</p>
								</div>
							
							<button class="content-button  animate__flipInY animate__animated">
								<a class="text-decoration-none text-white" href="{{ path('app_user_edit', {'id': app.user.id}) }}">Modifier
								</a>
							</button>
						</div>
						<img width="50px" height="200px" class="content-wrapper-img rounded-circle " src="{{ app.user.image }}" alt="image de profile">
					</div>

				</div>
			</main>
		</div>
		<div class="overlay-app"></div>
	</div>
{% endblock %}
