{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}

	<div class="video-bg">
		<video width="320" height="240" autoplay loop muted>
			<source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<div class="dark-light">
		<svg viewbox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/></svg>
	</div>
	<div class="app">
		{% include "partials/header1.html.twig" %}
		<div class="wrapper">
			<div class="left-side">
				<div class="side-wrapper">
					<div class="side-wrapper">
						<div class="side-title">Présentation</div>
						<div class="side-menu">
							<a href="{{ path('apropos') }}">
								A propos
							</a>
							<a href="{{ path('vehicules') }}">
								Mes véhicules
							</a>
							<a href="{{ path('avis') }}">
								Vos avis
							</a>

						</div>
					</div>
					<div class="side-title">Services</div>
					<div class="side-menu">
						<a href="{{ path('disposition') }}">


							Mise à disposition
						</a>
						<a href="{{ path('chauffeur') }}">

							Chauffeur Privée
						</a>
						<a href="{{ path('visite') }}">

							Visite des chateaux
						</a>
						<a href="{{ path('personne') }}">+8 personnes</a>
						<a href="{{ path('aeroport_gare') }}">Aéroports & Gares</a>
					</div>
				</div>
				<div class="side-wrapper">
					<div class="side-title">Légal</div>
					<div class="side-menu">
						<a href="{{ path('mentionslegales') }}">
							Mentions légals
						</a>
						<a href="{{ path('conditionsgenerales') }}">Conditions générales</a>
						<a href="{{ path('apropos') }}">A propos</a>
					</div>
				</div>
			</div>
			<div class="main-container">
				<div class="content-wrapper">
					<div class="content-wrapper-header">
						<div class="content-wrapper-context">
							<div class="">
								<div>
									<p>Email :
										{{ app.user.email }}</p>
									<p>Prénom :
										{{ app.user.firstname }}</p>
									<p>Nom :
										{{ app.user.lastname }}</p>
								</div>
								<div>
									<p>Adresse :
										{{ app.user.adresse }}</p>
									<p>Age :
										{{ app.user.age }}</p>
								</div>
							</div>
							<button class="content-button  animate__flipInY animate__animated">
								<a class="text-decoration-none text-white" href="{{ path('app_user_edit', {'id': app.user.id}) }}">Modifier
								</a>
							</button>
						</div>
						<img class="content-wrapper-img" src="https://assets.codepen.io/3364143/glass.png" alt="">
					</div>

				</div>
			</div>
		</div>
		<div class="overlay-app"></div>
	</div>


{% endblock %}
